*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
  body{
  width: 100%;
  height: 100%;
  font-family: verdana, sans-serif;
  line-height: 1.6;
  background-color: lightgray;
}

#banner h1{
  text-align: center;
  font-size: 30px;
  height: 100px;
  padding: 10px 10px;
}

#banner h2{
  text-align: center;
  font-size: 25px;
}

.navbar{
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: gray;
  text-align: center;
  overflow: hidden;
  margin: 0;
  padding: 10px 0;
}

.navbar ul{
  list-style-type: none;
  justify-content: space-around;
  display: flex;
}

.navbar ul li{
  display: inline;
  font-size: 15%;
  margin: 0 15px;
}

.navbar ul li a{
  color: white;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.navbar ul li a:hover{
  text-decoration: underline;
}

.navbar ul li a:visited{
  text-decoration: underline;
}


section{
  padding: 80px 20px;
  min-height: auto;
  text-align: center;
}

p, a{
    font-size: 15px;
}

h3{
  font-size: 25px;
}

section h1{
  font-size: 35px;
}

#nycImg{
  width: 70%;
}

#cloudImg{
  width: 70%;
}

.content{
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

a{
  text-decoration: underline;
  color: gray;
}

a:hover{
  color: black;
}

a:visited{
  color: darkgray;
}

a:active{
  color: black;
}

#projects hr{
  max-width: 1200px;
}

html{
  scroll-bahavior: smooth;
}
